<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login for medarbejdere</title>
    <link rel="stylesheet" href="CSS/login.css">

</head>
<body>

<div class="wrapper">
    <form  action="#" th:action="@{/login}" th:object="${user}" method="POST">

        <div class="logo">
            <img src=/pictures/logo5.png alt="Kino Zippy logo">
        </div>

        <div class="name name">
            Kino Zippy
        </div>
        <form class="tester">
            <div class="form-field lol">

                <span class="far fa-user"></span>
                <input type="text" name="uname" id="userName" placeholder="Brugernavn">
            </div>
            <div class="form-field d-flex align-items-center">
                <span class="fas fa-key"></span>
                <input type="password" name="psw" id="pwd" placeholder="Adgangskode">
            </div>
            <button class="btn mt-3">Login</button>
            <div th:if="${loginValidity == 'fail'}">
                <p>Dit brugernavn eller kode var forkert</p>
            </div>
        </form>
    </form>
</div>


</body>
</html>

